@page
@model homework_01.Pages.GalleryModel
@{
}

<div>
    <h1>Gallery</h1>

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <img src="https://dzvin.media/wp-content/uploads/2018/07/Peasant_family.jpg" class="img-fluid" alt="Мадонна Дрейфус">
            </div>
            <div class="col">
                <img src="https://print4you.com.ua/upload/iblock/407/407a2e4dfaf62f94c1e4a6af767cf466.JPG" class="img-fluid" alt="Благовіщення">
            </div>
            <div class="col">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuyvhCKXyh6gccQ0Rt9M3BKgbqmi8hwK_-rQ&s" class="img-fluid" alt="Мадонна з гвоздикою">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtjDyxdEmitH_QCGklWHRDoY31phRe0vN4FA&s" class="img-fluid" alt="Портрет Джиневри де Бенчі">
            </div>
           
        </div>

        
    </div>
</div>