@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Taras Shevchenko</h1>
    <p>
        Taras Hryhorovych Shevchenko (March 9, 1814 – March 10, 1861) was a renowned Ukrainian poet, writer, artist,
        public and political figure, and folklorist. He is considered the greatest Ukrainian poet and a key figure
        in Ukrainian literature and national revival. His works, including "Kobzar," have become symbols of the
        Ukrainian struggle for independence. In addition to his literary achievements, Shevchenko was an accomplished
        painter and engraver, contributing significantly to the cultural and artistic development of Ukraine.
    </p>
</div>


